

    <section class="hero h-screen flex items-center">
         <div class="container mx-auto flex justify-between items-center ">
            <div class="w-1/2">
                <% if(user) { %>
                  
                <h2>Heyy <%= user.name %></h2>
                <% }else { %>
                 <h2>heyyy</h2>
                <% } %>    
                <h6 class="text-lg"><em>Are you hungry?</em></h6>

                <h3 class="text-3xl font-bold">Order Chicken Biryani</h3>
                
                <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary"> ONLY IN <strike>&#8377;99</strike> &#8377;89</button>
                
            </div>
            <div class="w-1/2">
                <img src="/img/chickenBiryani.png" alt="">
            </div> 
        </div> 
    </section>

    <section class="menu container mx-auto">
        <h1 class="text-xl font-bold">Other Biryanis</h1>

    <div class="flex flex-wrap ">   
       <% items.forEach(function(item){ %>
        <div class="w-64  h-64 py-16 mx-4 my-24 mt-16 bg-red-100 rounded-md">
            <img src="/img/<%= item.image%>" alt="" class="h-40 mb-4 mx-auto">
            <div class="text-center mt-12 bg-red-200 rounded py-4">
                <h2 class="mb-4 text-lg"><%= item.name %></h2>
                <div class="flex justify-around items-center>
                    <span class="font-bold text-lg">&#8377; <%= item.price %></span>
                    <button data-item="<%= JSON.stringify(item)%>" class="add py-1 px-6 rounded-full flex items-center font-bold ">
                        <span>+</span>
                        <span class="ml-4">ADD</span>
                    </button>
                </div>
            </div>
        </div>
       
       <% }) %>
    </div>   
    </section>

    
